<a href="https://colab.research.google.com/github/PablaOO7/DQ_Guided-Project/blob/master/Guided_Project_2_Exploring_Hacker_News_Posts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Guided Project 2: Exploring Hacker News Posts

In this project, we'll work with a data set of submissions to popular technology site [Hacker News](https://news.ycombinator.com/).

You can download the data set here: [Hacker news dataset](https://www.kaggle.com/hacker-news/hacker-news-posts)

But for this project the rows has been reduced from 300,000 to approximately 20,000 by removing all submissions that did not receive any comments, and then randomly sampling from the remaining submissions.

We will begin with importing the libraries we need and reading the data set into a list of lists

**1.) Importing and Reading the data:**

In [1]:
from csv import reader
open_file = open ("hacker_news.csv")
hn = reader(open_file)
list_file = list(hn)

print (*list_file[:5], sep='\n')

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']
['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52']
['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30']
['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20']
['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']

You can see the first row contains the header part and the rest is the data. This can be viewed as follow:

In [2]:
print ("This is the header row")
print (list_file[0]) # index 0 contains the header
print ("This is the data")
print (*list_file[1:5], sep='\n') # index from 1 to 5 contains the data values.

This is the header row
['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']
This is the data
['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52']
['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30']
['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20']
['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']

In order to analyze our data, we need to first remove the row containing the column headers. Let's remove that first row next.

**2.) Remove header row**

In [3]:
headers = list_file[0] #Extract the first row of data
hn = list_file[1:] # Removes the first row from hn

print ("This is the header row:")
print (headers)
print ("This is the data:")
print (*hn[:5], sep="\n")

This is the header row:
['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']
This is the data:
['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52']
['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30']
['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20']
['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']
['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12']

**3.) Separate posts beginning with Ask HN and Show HN**

After filtering out the header row, now we can separate the `Ask Posts` from the `Show Posts`. Posts that do not fall under this category will be listed as `Other Posts`.



*   Create list
*   Iterate though the data
*   Use lower method which returns a lowercase version of the starting string. This is the make all the strings into matching order.
*   Use startswith() function to look for `ask hn` and `show hn` in the beginning of title
*   Finally, check the number of posts

In [4]:
# Creating 3 empty lists
ask_posts = []
show_posts = []
other_posts = []

# Iterating through the data set without headers for the title of the post

for row in hn:
  title = row[1] # index 1 contains the title values

  if title.lower().startswith('ask hn'):
    ask_posts.append(row)
  elif title.lower().startswith('show hn'):
    show_posts.append(row)
  else:
    other_posts.append(row)

# Total number of posts in each category
print ("Posts in ask_post:",len(ask_posts))
print ("Posts in show_post:",len(show_posts))
print ("Posts in other_post:",len(other_posts))

Posts in ask_post: 1744
Posts in show_post: 1162
Posts in other_post: 17194

Displaying first five rows in each list:

In [5]:
print("First five posts in ask_posts:")
print (*ask_posts[:5], sep='\n')
print('\n')
print("First five posts in show_posts:")
print (*show_posts[:5], sep='\n')
print('\n')
print("First five posts in other_posts")
print (*other_posts[:5], sep='\n')

First five posts in ask_posts:
['12296411', 'Ask HN: How to improve my personal website?', '', '2', '6', 'ahmedbaracat', '8/16/2016 9:55']
['10610020', 'Ask HN: Am I the only one outraged by Twitter shutting down share counts?', '', '28', '29', 'tkfx', '11/22/2015 13:43']
['11610310', 'Ask HN: Aby recent changes to CSS that broke mobile?', '', '1', '1', 'polskibus', '5/2/2016 10:14']
['12210105', 'Ask HN: Looking for Employee #3 How do I do it?', '', '1', '3', 'sph130', '8/2/2016 14:20']
['10394168', 'Ask HN: Someone offered to buy my browser extension from me. What now?', '', '28', '17', 'roykolak', '10/15/2015 16:38']


First five posts in show_posts:
['10627194', 'Show HN: Wio Link  ESP8266 Based Web of Things Hardware Development Platform', 'https://iot.seeed.cc', '26', '22', 'kfihihc', '11/25/2015 14:03']
['10646440', 'Show HN: Something pointless I made', 'http://dn.ht/picklecat/', '747', '102', 'dhotson', '11/29/2015 22:46']
['11590768', 'Show HN: Shanhu.io, a programming playground powered by e8vm', 'https://shanhu.io', '1', '1', 'h8liu', '4/28/2016 18:05']
['12178806', 'Show HN: Webscope  Easy way for web developers to communicate with Clients', 'http://webscopeapp.com', '3', '3', 'fastbrick', '7/28/2016 7:11']
['10872799', 'Show HN: GeoScreenshot  Easily test Geo-IP based web pages', 'https://www.geoscreenshot.com/', '1', '9', 'kpsychwave', '1/9/2016 20:45']


First five posts in other_posts
['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52']
['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30']
['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20']
['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']
['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12']

**4) Calculating average number of comments to determine if ask posts or show posts receive more comments.**

In [6]:
total_ask_comments = 0 # initialze the variable

for post in ask_posts:
  total_ask_comments += int(post[4])

avg_ask_comments= total_ask_comments/len(ask_posts) # calculates the average comments

print ("Sum total of comments in ask posts:",total_ask_comments)
print("Average number of comments on ask posts:",avg_ask_comments)

total_show_comments = 0 # initialze the variable

for post in show_posts:
  total_show_comments += int(post[4])

avg_show_comments= total_show_comments/len(show_posts)

print ("Sum total of comments in show posts:",total_show_comments)
print("Average number of comments on show posts:",avg_show_comments)

Sum total of comments in ask posts: 24483
Average number of comments on ask posts: 14.038417431192661
Sum total of comments in show posts: 11988
Average number of comments on show posts: 10.31669535283993

Above results says that on average, `Ask Posts`(14) get more feedback by comments than `Show Posts`(10).

Since ask posts are more likely to receive comments, we'll focus just on these posts for further analysis.

**5.) Finding the amount of Ask Posts and Comments by Hour Created**

- To determine if ask posts created at a certain time are more likely to attract comments. We'll use the following steps to perform this analysis:

1.   Calculate the amount of ask posts created in each hour of the day, along with the number of comments received.
2.   Calculate the average number of comments ask posts receive by hour created.

In [7]:
import datetime as dt
result_list = []

for post in ask_posts:
  created_at = post[6] # extracts created_at column
  num_comments = int(post[4]) # extracts number of comments of the post
  result_list.append([created_at, num_comments]) # list of lists created

counts_by_hour = {}
comments_by_hour = {}

for row in result_list:
  extract_date = row[0] # extracts date
  comments = row[1] # extracts number of comments

  date_time = dt.datetime.strptime(extract_date, "%m/%d/%Y %H:%M") # strptime method to parse the date
  extract_hour = dt.datetime.strftime(date_time, "%H") # strftime to select just the hour from the datetime object

  if extract_hour not in counts_by_hour:
    counts_by_hour[extract_hour] = 1
    comments_by_hour[extract_hour] = row[1]
  else:
    counts_by_hour[extract_hour] += 1
    comments_by_hour[extract_hour] += row[1]

print('The number of comments on ask posts by the hour are:')
print ('hour : number of comments')
comments_by_hour

The number of comments on ask posts by the hour are:
hour : number of comments

{'00': 447,
 '01': 683,
 '02': 1381,
 '03': 421,
 '04': 337,
 '05': 464,
 '06': 397,
 '07': 267,
 '08': 492,
 '09': 251,
 '10': 793,
 '11': 641,
 '12': 687,
 '13': 1253,
 '14': 1416,
 '15': 4477,
 '16': 1814,
 '17': 1146,
 '18': 1439,
 '19': 1188,
 '20': 1722,
 '21': 1745,
 '22': 479,
 '23': 543}

**`Result:`** From the output, one can notice that `Ask Posts` uploaded in the afternoon, specifically between 13:00 and 18:00 generate the most comments. One can see a peak at 15:00 with most number of comments.

On the contrary, posts uploaded during the night time from 22:00 to 07:00 generate the least amount of comments. However, there is a shoot of comments at 02:00 between these hours, which seems dubious.

One can also show the above result by calculating the average of number of comments. So, our next task would be that.

**6.) Calculating the average number of comments for ask HN posts by hour**

After creating two dictionaries:


*   `counts_by_hour:` contains the number of ask posts created during each hour of the day.
*   `comments_by_hour:` contains the corresponding number of comments ask posts created at each hour received.

Now, we'll use these two dictionaries to calculate the average number of comments for posts created during each hour of the day.

In [8]:
avg_by_hour = []

for hour in comments_by_hour:
  avg_by_hour.append([hour, comments_by_hour[hour] /counts_by_hour[hour]])

print('Average number of comments for ask HN posts by hour:')
avg_by_hour

Average number of comments for ask HN posts by hour:

[['09', 5.5777777777777775],
 ['13', 14.741176470588234],
 ['10', 13.440677966101696],
 ['14', 13.233644859813085],
 ['16', 16.796296296296298],
 ['23', 7.985294117647059],
 ['12', 9.41095890410959],
 ['17', 11.46],
 ['15', 38.5948275862069],
 ['21', 16.009174311926607],
 ['20', 21.525],
 ['02', 23.810344827586206],
 ['18', 13.20183486238532],
 ['03', 7.796296296296297],
 ['05', 10.08695652173913],
 ['19', 10.8],
 ['01', 11.383333333333333],
 ['22', 6.746478873239437],
 ['08', 10.25],
 ['04', 7.170212765957447],
 ['00', 8.127272727272727],
 ['06', 9.022727272727273],
 ['07', 7.852941176470588],
 ['11', 11.051724137931034]]

Here, the average number of comments is highest at 15:00 and least at 09:00.

**7.) Sorting and Printing  values from a list of lists:**

- Although we have our results,but this format makes it hard to identify the hours with the highest values. 

- Let's finish by sorting the list of lists and printing the five highest values in a format that's easier to read.

In [9]:
# Create a list that equals avg_by_hour with swapped columns

swap_avg_by_hour = []
for row in avg_by_hour:
  swap_avg_by_hour.append([row[1], row[0]])

print('List with swapped colums:')
print (*swap_avg_by_hour[:5], sep='\n')

# sorted() function to sort swap_avg_by_hour in descending order

sorted_swap = sorted(swap_avg_by_hour, reverse=True)
# Reverse argument= True, so that the highest value in the first column appears first in the list

print ('\n Top 5 Hours for Ask Posts Comments:')

# str.format() method to print the hour and average in the following format: 15:00: 38.59 average comments per post

for avg, hr in sorted_swap[:5]:
    print('{}: {:.2f} average comments per post'.format(dt.datetime.strptime(hr, '%H').strftime('%H:%M'), avg))

# strptime method to parse the date
# strftime to select just the hour from the datetime object

List with swapped colums:
[5.5777777777777775, '09']
[14.741176470588234, '13']
[13.440677966101696, '10']
[13.233644859813085, '14']
[16.796296296296298, '16']

 Top 5 Hours for Ask Posts Comments:
15:00: 38.59 average comments per post
02:00: 23.81 average comments per post
20:00: 21.52 average comments per post
16:00: 16.80 average comments per post
21:00: 16.01 average comments per post

In [13]:
print("Top 5 Hours for Ask Posts Comments in ISt time zone")
date_format = "%H"

for i in sorted_swap[:5]:
    avg = "{:.2f}".format(i[0]) #two decimal places should be used 
    hours = i[1]
    hour = dt.datetime.strptime(hours, date_format)
    hour_in_gmt = hour + dt.timedelta(hours=9, minutes=30)
    time = hour_in_gmt.strftime("%H:%M")
    print("{time} : {value} average comments per post".format(time=time, value=avg))

Top 5 Hours for Ask Posts Comments in ISt time zone
00:30 : 38.59 average comments per post
11:30 : 23.81 average comments per post
05:30 : 21.52 average comments per post
01:30 : 16.80 average comments per post
06:30 : 16.01 average comments per post

**Conclusion**

From the results above we can conclude the following things:- 

1.) Ask HN posts received more comments on average than Show_posts and other posts.

2.) Ask posts get a receive higher upvotes, especially those uploaded between 13:00 and 21:00. (00:30 to 06:30 in IST zone)